/* Basic styles for the body to center the content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(128, 27, 27);
    margin: 0;
    padding :0;
    border-style: double;
    border-color: black;
}

/* Styling for the heading */
.heading {
    color: black;
    text-shadow: 2px 2px 4px white;
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
   
}

/* Grid layout for the chase board */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;
}

/* Styling for individual boxes */
.box {
    width: 60px;
    height: 60px;
    background-color: #000;
    background-size: cover;
    background-position: center;
 
    
    
}

/* Alternate boxes with white background */
.box:nth-child(odd) {
    background-color: #fff;
}



